.login__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    padding: 20px;
}
.login__right__container{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
    margin-right: 5vw ;
    background-color: white;
    padding: 20px 30px;
    border-radius: 20px;
    box-shadow: var(--primary-box-shadow);
}
.login__right__heading{
    color: var(--primary-fg-color);
}
.login__right__desc{
    color: var(--secondary-fg-color)
}
.login__input{
    width: 20vw;
    padding: 3px 10px;
    border: 1px solid black;
    margin: 10px 0;
}
.login__right__submit__btn{
    width: 20vw;
    padding: 10px;
    background-color: var(--primary-fg-color);
    color: var(--tertiary-fg-color);
    font-size: 1rem;
    border-radius:10px ;
    border: 1px solid var(--primary-fg-color);
    cursor: pointer;
}