*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-bg-color: rgb(215, 224, 229);
  --primary-fg-color: rgb(37, 23, 164);
  --secondary-fg-color: rgb(0,114,229);
  --tertiary-fg-color: rgb(255,255,255);
  --primary-box-shadow:  rgba(64, 79, 250, 0.4) -5px 5px, rgba(46, 65, 240, 0.3) -10px 10px, rgba(46, 85, 240, 0.2) -15px 15px, rgba(46, 143, 240, 0.1) -20px 20px, rgba(46, 162, 240, 0.05) -25px 25px;;
}

body{
  background-color: var(--primary-bg-color);
}